<table>
	<caption>お問い合わせ情報</caption>
	<tr>
		<th style="width:220px;">氏名<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate name #--)">
			<!--# form text name 60 128 #-->
			<!--# syscode validate name #-->
		</td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td class="(!--# syscode is_validate tel #--)">
			<!--# form text tel 32 64 #-->
			<!--# syscode validate tel #-->
		</td>
	</tr>
	<tr>
		<th>メールアドレス<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate mail #--)">
			<!--# form text mail 60 128  #-->
			<!--# syscode validate mail #-->
		</td>
	</tr>
	<tr>
		<th>件名<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate sub #--)">
			<!--# form text sub 60 128  #-->
			<!--# syscode validate sub #-->
		</td>
	</tr>
	<tr>
		<th>お問い合わせ内容<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate note #--)">
			<!--# form textarea note  10  style="width:80%" #-->
			<!--# syscode validate note #-->
		</td>
	</tr>
</table>
