<div class="contents_box request">
	<h2>ご意見箱</h2>
	<div class="body">
		<form action="api.php" method="post" name="request_form" id="request_form">
			<input type="hidden" name="c" value="inquiryApi" />
			<input type="hidden" name="m" value="request" />
			<dl>
				<dt><label for="request">機能の改善要望、ご意見、ご感想をお聞かせください。</label></dt>
				<dd><!--# form textarea request 23 5  id="request" #--></dd>
			</dl>
			<p><input type="submit" name="btn_request" id="btn_request" value="送信" /></p>
		</form>
	</div>
</div>