<!--# readhead success #-->
	<!--# syscode searchResult setResultNum 10 #-->
	<!--# syscode searchResult setPagejumpNum 5 #-->
	<div class="item_list search_item">
		<!--# syscode searchResult result #-->
	</div><!--item_list END-->
	<!--# syscode searchResult info #-->
	<!--# syscode searchResult pageChange #-->
<!--# readend #-->

<!--# readhead failed #-->
	<p>
		特集ページ用の求人情報が見つかりません。
	</p>
<!--# readend #-->

<!--# readhead list #-->
<!--# setTimeFormat Y/m/d #-->
<article>
	<a href="index.php?app_controller=info&type=<!--# get type #-->&id=<!--# value id #-->">
	<p class="img"><!--# object image image1 size 133 100 not <img\ src="common/img/noimage.gif"\ /> #--></p>
		<div class="text">
			<p class="sub"><!--# alias items_type category id name #--></p>
			<h3 class="title"><!--# code Continuation (!--# escp value name false #--) 28 #-->
				<!--# setTimeFormat U #-->
				<!--# ifbegin > attention_time (!--# code now u #--) #-->
				<span class="pickup">おすすめ</span>
				<!--# endif #-->
				<!--# ifbegin val= (!--# view Conf drawData job publish #--) select &AND& boolean limitation #-->
				<span class="limitation">会員限定</span>
				<!--# endif  #-->
			</h3>
		</div>
		<table>
			<tr>
				<th>勤務形態</th>
				<td><!--# alias items_form work_style id name #--></td>
			</tr>
			<tr>
				<th>給与</th>
				<td><!--# value salary_label #--></td>
			</tr>
			<tr>
				<th>最寄駅</th>
				<td><!--# value transport #--></td>
			</tr>
			<tr>
				<th>勤務地</th>
				<td>
					<!--# ifbegin = foreign_flg TRUE #-->
						<!--# code Continuation (!--# escp value foreign_address false #--) 28 #-->
					<!--# else #-->
						<!--# code Continuation (!--# escp value work_place_label false #--) 28 #-->
					<!--# endif #-->
				</td>
			</tr>
		</table>
	</a>
	<p class="button clearfix">
		<!--# ifbegin val= (!--# ecode loginUserType #--) nobody #-->
			<!--# ifbegin val= (!--# view Conf drawData user use_nuser #--) on #-->
				<a href="login.php?redirect_path=index.php%3Fapp_controller=page%26p=(!--# get page_name #--)%26sp=true" class="btn_clip not">検討中リストに追加</a>
			<!--# endif #-->
		<!--# else #-->
			<!--# mod Clip drawButton (!--# get type #--) (!--# value id #--) #-->
		<!--# endif #-->
	</p>
	<p class="button"><a href="index.php?app_controller=info&type=<!--# get type #-->&id=(!--# value id #--)">この求人の詳細をみる</a></p>
</article>
<!--# readend #-->
