<table>
<caption>インタビューの作成</caption>
	<tr>
		<th>ヘッダー画像<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate image_FILE_NULL/image #--)">
			<!--# form image image  削除 734 140 #-->
			<!--# syscode validate image_FILE_NULL image #-->
			<span class="hint">ヘッダー画像は「734x140」にリサイズされます。</span>
		</td>
	</tr>

	<tr>
		<th>企業のキャッチコピー<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate copy #--)">
			<!--# form text copy 110 255 #-->
			<!--# syscode validate copy #-->
		</td>
	</tr>

	<tr>
		<th>
			<!--# alias cUser owner id name (!--# valueAlias cUser (!--# code loginid #--) id name #--) #-->はどんな企業ですか？<span class="requisite">必須</span>
		</th>
		<td class="(!--# syscode is_validate profile #--)">
			<!--# form textarea profile 60 7 #-->
			<!--# syscode validate profile #-->
		</td>
	</tr>

	<tr>
		<th><!--# alias cUser owner id name (!--# valueAlias cUser (!--# code loginid #--) id name #--) #-->での仕事内容について<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate detail #--)">
			<!--# form textarea detail 60 7 #-->
			<!--# syscode validate detail #-->
		</td>
	</tr>

	<tr>
		<th><!--# alias cUser owner id name (!--# valueAlias cUser (!--# code loginid #--) id name #--) #-->で学べることは？</th>
		<td class="(!--# syscode is_validate free1 #--)">
			<!--# form textarea free1 60 7 #-->
			<!--# syscode validate free1 #-->
		</td>
	</tr>

	<tr>
		<th><!--# alias cUser owner id name (!--# valueAlias cUser (!--# code loginid #--) id name #--) #-->で働くことのやりがい</th>
		<td class="(!--# syscode is_validate free2 #--)">
			<!--# form textarea free2 60 7 #-->
			<!--# syscode validate free2 #-->
		</td>
	</tr>

	<tr>
		<th><!--# alias cUser owner id name (!--# valueAlias cUser (!--# code loginid #--) id name #--) #-->の今後のビジョン<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate free3 #--)">
			<!--# form textarea free3 60 7 #-->
			<!--# syscode validate free3 #-->
		</td>
	</tr>

	<tr>
		<th>掲載画像<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate image3_FILE_NULL/image3 #--)">
			<!--# form image image3  削除 240 180 #-->
			<!--# syscode validate image3_FILE_NULL image3 #-->
			<span class="hint">掲載画像は「240x180」にリサイズされます。</span>
		</td>
	</tr>

	<tr>
		<th style="width:220px;">インタビューに答える人の名前<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate interview_name #--)">
			<!--# form text interview_name 50 50 #-->
			<span class="hint">代表や店長、採用担当者などの名前をご記入下さい</span>
			<!--# syscode validate interview_name #-->
		</td>
	</tr>
	<tr>
		<th>インタビューに答える人のイメージ<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate image2_FILE_NULL/image2 #--)">
			<!--# form image image2  削除 240 180 #-->
			<!--# syscode validate image2_FILE_NULL image2 #-->
			<span class="hint">インタビューに答える人のイメージは「240x180」にリサイズされます。</span>
		</td>
	</tr>
	<tr>
		<th>インタビューに答える人はどんな人？<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate interview_detail #--)">
			<!--# form textarea interview_detail 50 8 #-->
			<span class="hint">プロフィールなどをご記入下さい</span>
			<!--# syscode validate interview_detail #-->
		</td>
	</tr>

	<tr>
		<th>こんな方と一緒に働きたい<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate hope #--)">
			<!--# form textarea hope 60 7 #-->
			<!--# syscode validate hope #-->
		</td>
	</tr>

	<tr>
		<th>アピールしたいこと<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate appeal #--)">
			<!--# form textarea appeal 60 7 #-->
			<!--# syscode validate appeal #-->
		</td>
	</tr>

	<tr>
		<th>求職者へのメッセージ<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate message #--)">
			<!--# form textarea message 60 7 #-->
			<!--# syscode validate message #-->
		</td>
	</tr>

	<tr>
		<th>最後に当サイトをご利用頂いてのご意見・ご感想をお聞かせ下さい(任意)</th>
		<td >
			<!--# form textarea comment 60 7 #-->
		</td>
	</tr>
</table>
