<ul>
	<li>
		<span>対象の求人</span>
		<p>
			<!--# valueAlias mid (!--# get mid_id #--) id name #-->
			<!--# valueAlias fresh (!--# get fresh_id #--) id name #-->
		</p>
	</li>
	<li>
		<span>履歴書の選択</span>
		<p>
			<!--# form hidden resume_id #-->
			<!--# valueAlias resume (!--# post resume_id #--) id label #-->
		</p>
	</li>
	<li>
		<span>件名</span>
		<p>
		<!--# form hidden sub #-->
		<!--# ent post sub #-->
		</p>
	</li>
	<li>
		<span>本文</span>
		<p>
			<!--# form hidden message #-->
			<!--# ent post message #-->
		</p>
	</li>
</ul>
