<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>会員登録／ログイン</h2>
			<div class="main">

				<div class="error_message">
					<p>求人に応募するには、会員登録が必要です。会員登録がまだの方はこちらから会員登録してください。</p>
					<ul>
						<li><a href="./index.php?app_controller=other&key=CheckValidityForm&type=nUser">求職者の会員登録</a></li>
						<li><a href="./">トップページ</a></li>
					</ul>
				</div><!--error_message END-->
			</div><!--main END-->
			
			<div class="main">
				<p class="description">
					すでに会員登録がお済みの方はこちらからログインして下さい。
				</p>
				<div class="form">
					<form action="login.php" method="post" name="login_form">
					<!--# ifbegin ! val= (!--# get mid_id #--)  #-->
						<input type="hidden" name="redirect_path" value="./index.php?app_controller=register&type=entry&mid_id=(!--# get mid_id #--)" />
					<!--# else #-->
						<input type="hidden" name="redirect_path" value="./index.php?app_controller=register&type=entry&fresh_id=(!--# get fresh_id #--)" />
					<!--# endif #-->
						<ul>
							<li>
								<span>メールアドレス</span>
								<p><input name="mail" type="email" id="mail" size="30" /></p>
							</li>
							<li>
								<span>パスワード</span>
								<p><input type="password" name="passwd" id="passwd" size="30" /></p>
								<span class="hint"><a href="index.php?app_controller=other&key=resetter">パスワードをお忘れですか？</a></span>
							</li>
						</ul>
						<p class="button"><input type="submit" name="Submit" value="ログイン" class="btn_login" /></p>
					</form>
				</div><!--form END-->
				
			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
