<table>

	<tr>

		<td width="33%">

			<form method="post">
				<input type="submit" value="ホーム" data-summary="管理ツールのホーム画面に戻ります。" />
			</form>

		</td>

		<td width="33%">

			<form method="post">
				<input type="hidden" name="method" value="doLogout">
				<input type="submit" value="ログアウト" data-summary="管理ツールからログアウトします。" />
			</form>

		</td>

		<td width="33%">

			<form method="post">
				<input type="hidden" name="method" value="drawExitForm">
				<input type="submit" value="管理ツールの無効化" data-summary="管理ツールをサーバー上から削除して使用できない状態にします。" />
			</form>

		</td>

	</tr>

</table>
