<!--# readhead success #-->

<!--# syscode searchResult setResultNum 5 #-->
<!--# syscode searchResult setPagejumpNum 5 #-->


<!--# syscode searchResult result #-->


<!--# readend #-->

<!--# readhead failed #-->

<p>その条件に一致する企業はありませんでした。</p>

<!--# readend #-->

<!--# readhead list #-->

<!--# setTimeFormat Y/m/d #-->
<article>
	<a href="index.php?app_controller=info&type=(!--# get type #--)&id=(!--# value id #--)">
		<p class="img"><!--# object image image size 133 100 not <img\ src="common/img/noimage.gif"\ /> #--></p>
		<div class="text">
			<p class="price"><!--# alias adds adds id name #--></p>
			<h3 class="title">
<!--# ifbegin = foreign_flg TRUE #-->
				<!--# value name #--><span>（<!--# value foreign_address  未設定 #-->）</span>
<!--# else #-->
				<!--# value name #--><span>（<!--# alias add_sub add_sub id name 未設定 #-->）</span>
<!--# endif #-->
			</h3>
		</div>
	</a>
</article>
<!--# readend #-->
