/file/article/*
!/file/article/.gitkeep
/file/big_upload/*
!/file/big_upload/.gitkeep
/file/cc_cache/*
!/file/cc_cache/.gitkeep
/file/image/*
!/file/image/.gitkeep
/file/lock/*
!/file/lock/.gitkeep
/file/reminder/*
!/file/reminder/.gitkeep
/file/thumbs/*
!/file/thumbs/.gitkeep
/file/tmp/*
!/file/tmp/.gitkeep
/file/upload/*
!/file/upload/.gitkeep
/feed/*
composer.lock