RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^regist\.php(.*)$ index.php?app_controller=register$1 [QSA,R=301,L]
RewriteRule ^edit\.php(.*)$ index.php?app_controller=edit$1 [QSA,R=301,L]
RewriteRule ^info\.php(.*)$ index.php?app_controller=info$1 [QSA,R=301,L]
RewriteRule ^search\.php(.*)$ index.php\?app_controller=search$1 [QSA,R=301,L,NE]


#RewriteRule ^info\.php(.*)$ index.php?app_controller=info&%{QUERY_STRING} [R=301,L]
#RewriteRule ^search\.php(.*)$ index.php?app_controller=search&%{QUERY_STRING} [R=301,L]

# 以下静的URLのための記述
RewriteCond %{REQUEST_FILENAME} !-d [OR]
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^user(-|)$ index\.php?app_controller=search&run=true&type=cUser [PT,QSA,L]
RewriteRule ^user-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=cUser&page=$1 [PT,QSA,L]
RewriteRule ^(mid|fresh|interview|news)(-|)$ ./index\.php?app_controller=search&run=true&type=$1 [PT,QSA,L]
RewriteRule ^(mid|fresh|interview|news)-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&page=$2 [PT,QSA,L]

RewriteRule ^(mid|fresh)-foreign(-|)$ ./index\.php?app_controller=search&run=true&type=$1&foreign_flg=TRUE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-foreign-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&foreign_flg=TRUE&foreign_flg_PAL\[\]=match+comp&page=$2 [PT,QSA,L]

RewriteRule ^(mid|fresh)-attention(-|)$ ./index\.php?app_controller=search&run=true&type=$1&attention=1&attention_PAL\[\]=match+or [PT,QSA,L]
RewriteRule ^(mid|fresh)-attention-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&attention=1&attention_PAL\[\]=match+or&page=$2 [PT,QSA,L]

RewriteRule ^IT([0-9a-zA-Z]+)(-|)(-|)$ ./index\.php?app_controller=search&run=true&type=mid&category=IT$1&category_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^IT([0-9a-zA-Z]+)-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=mid&category=IT$1&category_PAL\[\]=match+comp&page=$2 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IT([0-9a-zA-Z]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&category=IT$2&category_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-IT([0-9a-zA-Z]+)-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&category=IT$2&category_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^IT([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)$ ./index\.php?app_controller=search&run=true&type=mid&category=IT$1&category_PAL\[\]=match+comp&work_style=IF$2&work_style_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^IT([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)$-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=mid&category=IT$1&category_PAL\[\]=match+comp&work_style=IF$2&work_style_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IT([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)$ ./index\.php?app_controller=search&run=true&type=$1&category=IT$2&category_PAL\[\]=match+comp&work_style=IF$3&work_style_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-IT([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&category=IT$2&category_PAL\[\]=match+comp&work_style=IF$3&work_style_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^IT([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)(-|)$ ./index\.php?app_controller=search&run=true&type=mid&category=IT$1&category_PAL\[\]=match+comp&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^IT([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=mid&category=IT$1&category_PAL\[\]=match+comp&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^IT([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^IT([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IT([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&category=IT$2&category_PAL\[\]=match+comp&work_place_adds=PF$3&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-IT([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&category=IT$2&category_PAL\[\]=match+comp&work_place_adds=PF$3&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IT([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&category=IT$2&category_PAL\[\]=match+comp&work_place_adds=PF$3&work_place_add_sub=AD$4&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-IT([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&category=IT$2&category_PAL\[\]=match+comp&work_place_adds=PF$3&work_place_add_sub=AD$4&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$5 [PT,QSA,L]
RewriteRule ^IT([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)(-|)$ ./index\.php?app_controller=search&run=true&type=mid&category=IT$1&category_PAL\[\]=match+comp&addition=JA$2&addition_PAL\[\]=match+or [PT,QSA,L]
RewriteRule ^IT([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=mid&category=IT$1&category_PAL\[\]=match+comp&addition=JA$2&addition_PAL\[\]=match+or&page=$3 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IT([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&category=IT$2&category_PAL\[\]=match+comp&addition=JA$3&addition_PAL\[\]=match+or [PT,QSA,L]
RewriteRule ^(mid|fresh)-IT([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&category=IT$2&category_PAL\[\]=match+comp&addition=JA$3&addition_PAL\[\]=match+or&page=&3 [PT,QSA,L]

RewriteRule ^PF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$2 [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_add_sub=AD$2&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_add_sub=AD$2&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_adds_PAL\[\]=match+comp&category=IT$2&category_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_adds_PAL\[\]=match+comp&category=IT$2&category_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_add_sub=AD$2&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&category=IT$3&category_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_add_sub=AD$2&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&category=IT$3&category_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&category=IT$3&category_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&category=IT$3&category_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&category=IT$4&category_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&category=IT$4&category_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=5 [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_adds_PAL\[\]=match+comp&work_style=IF$2&work_style_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_adds_PAL\[\]=match+comp&work_style=IF$2&work_style_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_add_sub=AD$2&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&work_style=IF$3&work_style_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_add_sub=AD$2&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&work_style=IF$3&work_style_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&work_style=IF$3&work_style_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&work_style=IF$3&work_style_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&work_style=IF$4&work_style_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&work_style=IF$4&work_style_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$5 [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_adds_PAL\[\]=match+comp&addition=JA$2&addition_PAL\[\]=match+or&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_adds_PAL\[\]=match+comp&addition=JA$2&addition_PAL\[\]=match+or&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=3 [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_add_sub=AD$2&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&addition=JA$3&addition_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_place_adds=PF$1&work_place_add_sub=AD$2&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&addition=JA$3&addition_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&addition=JA$3&addition_PAL\[\]=match+or&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)-([0-9]+)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&addition=JA$3&addition_PAL\[\]=match+or&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&addition=JA$4&addition_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&addition=JA$4&addition_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$5 [PT,QSA,L]

RewriteRule ^IF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^IF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&page=$2 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_style=IF$2&work_style_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_style=IF$2&work_style_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^IF([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&category=IT$2&category_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^IF([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&category=IT$2&category_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_style=IF$2&work_style_PAL\[\]=match+comp&category=IT$3&category_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_style=IF$2&work_style_PAL\[\]=match+comp&category=IT$3&category_PAL\[\]=match+comp&page=$5 [PT,QSA,L]
RewriteRule ^IF([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^IF([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^IF([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^IF([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_style=IF$2&work_style_PAL\[\]=match+comp&work_place_adds=PF$3&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_style=IF$2&work_style_PAL\[\]=match+comp&work_place_adds=PF$3&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_style=IF$2&work_style_PAL\[\]=match+comp&work_place_adds=PF$3&work_place_add_sub=AD$4&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_style=IF$2&work_style_PAL\[\]=match+comp&work_place_adds=PF$3&work_place_add_sub=AD$4&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$5 [PT,QSA,L]
RewriteRule ^IF([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&addition=JA$2&addition_PAL\[\]=match+or [PT,QSA,L]
RewriteRule ^IF([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&work_style=IF$1&work_style_PAL\[\]=match+comp&addition=JA$2&addition_PAL\[\]=match+or&page=$3 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_style=IF$2&work_style_PAL\[\]=match+comp&addition=JA$3&addition_PAL\[\]=match+or [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-JA([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&work_style=IF$2&work_style_PAL\[\]=match+comp&addition=JA$3&addition_PAL\[\]=match+or&page=$4 [PT,QSA,L]

RewriteRule ^JA([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&addition=JA$1&addition_PAL\[\]=match+or [PT,QSA,L]
RewriteRule ^JA([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&addition=JA$1&addition_PAL\[\]=match+or&page=$2 [PT,QSA,L]
RewriteRule ^(mid|fresh)-JA([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&addition=JA$2&addition_PAL\[\]=match+or [PT,QSA,L]
RewriteRule ^(mid|fresh)-JA([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&addition=JA$2&addition_PAL\[\]=match+or&page=$3 [PT,QSA,L]
RewriteRule ^JA([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)$ index\.php?app_controller=search&run=true&type=mid&addition=JA$1&addition_PAL\[\]=match+or&category=IT$2&category_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^JA([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&addition=JA$1&addition_PAL\[\]=match+or&category=IT$2&category_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&addition=JA$2&addition_PAL\[\]=match+or&category=IT$3&category_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-IF([0-9a-zA-Z]+)-IT([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&addition=JA$2&addition_PAL\[\]=match+or&category=IT$3&category_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^JA([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&addition=JA$1&addition_PAL\[\]=match+or&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^JA([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&addition=JA$1&addition_PAL\[\]=match+or&work_place_adds=PF$2&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^JA([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&addition=JA$1&addition_PAL\[\]=match+or&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^JA([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&addition=JA$1&addition_PAL\[\]=match+or&work_place_adds=PF$2&work_place_add_sub=AD$3&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-JA([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&addition=JA$2&addition_PAL\[\]=match+or&work_place_adds=PF$3&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-JA([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&addition=JA$2&addition_PAL\[\]=match+or&work_place_adds=PF$3&work_place_adds_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$4 [PT,QSA,L]
RewriteRule ^(mid|fresh)-JA([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&addition=JA$2&addition_PAL\[\]=match+or&work_place_adds=PF$3&work_place_add_sub=AD$4&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-JA([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-AD([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&addition=JA$2&addition_PAL\[\]=match+or&work_place_adds=PF$3&work_place_add_sub=AD$4&work_place_adds_PAL\[\]=match+comp&work_place_add_sub_PAL\[\]=match+comp&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp&page=$5 [PT,QSA,L]
RewriteRule ^JA([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&addition=JA$1&addition_PAL\[\]=match+or&work_style=IF$2&work_style_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^JA([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=mid&addition=JA$1&addition_PAL\[\]=match+or&work_style=IF$2&work_style_PAL\[\]=match+comp&page=$3 [PT,QSA,L]
RewriteRule ^(mid|fresh)-JA([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&addition=JA$2&addition_PAL\[\]=match+or&work_style=IF$3&work_style_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-JA([0-9a-zA-Z]+)-IF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=$1&addition=JA$2&addition_PAL\[\]=match+or&work_style=IF$3&work_style_PAL\[\]=match+comp&page=$4 [PT,QSA,L]

RewriteRule ^AREA([0-9a-zA-Z]+)(-|)$ ./index\.php?app_controller=search&run=true&type=mid&areaID=AREA$2&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^AREA([0-9a-zA-Z]+)-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=mid&areaID=AREA$2&page=$2&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-AREA([0-9a-zA-Z]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&areaID=AREA$2&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^(mid|fresh)-AREA([0-9a-zA-Z]+)-([0-9]+)(-|)$ ./index\.php?app_controller=search&run=true&type=$1&areaID=AREA$2&page=$3&foreign_flg=FALSE&foreign_flg_PAL\[\]=match+comp [PT,QSA,L]

RewriteRule ^user-PF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=cUser&adds=PF$1&adds_PAL\[\]=match+comp [PT,QSA,L]
RewriteRule ^user-PF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=cUser&adds=PF$1&adds_PAL\[\]=match+comp&page=$2 [PT,QSA,L]
RewriteRule ^user-PF([0-9a-zA-Z]+)-IE([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=cUser&adds=PF$1&adds_PAL\[\]=match+comp&manage_type=IE$2&manage_type_PAL\[\]=match+or [PT,QSA,L]
RewriteRule ^user-PF([0-9a-zA-Z]+)-IE([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=cUser&adds=PF$1&adds_PAL\[\]=match+comp&manage_type=IE$2&manage_type_PAL\[\]=match+or&page=$3 [PT,QSA,L]
RewriteRule ^user-IE([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=cUser&manage_type=IE$2&manage_type_PAL\[\]=match+or [PT,QSA,L]
RewriteRule ^user-IE([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=cUser&manage_type=IE$2&manage_type_PAL\[\]=match+or&page=$2 [PT,QSA,L]
RewriteRule ^user-IE([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=search&run=true&type=cUser&adds=PF$1&adds_PAL\[\]=match+comp&manage_type=IE$2&manage_type_PAL\[\]=match+or [PT,QSA,L]
RewriteRule ^user-IE([0-9a-zA-Z]+)-PF([0-9a-zA-Z]+)-([0-9]+)(-|)$ index\.php?app_controller=search&run=true&type=cUser&adds=PF$1&adds_PAL\[\]=match+comp&manage_type=IE$2&manage_type_PAL\[\]=match+or&page=$3 [PT,QSA,L]

RewriteRule ^(mid|fresh|interview|news)-info-([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=info&type=$1&id=$2 [PT,QSA,L]
RewriteRule ^user-info-C([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=info&type=cUser&id=C$1 [PT,QSA,L]
RewriteRule ^page-([0-9a-zA-Z]+)(-|)$ index\.php?app_controller=page&p=$1 [PT,QSA,L]
