<!--# readhead regist #-->
<a class="btn_clip" href="javascript:void(0);" onclick="clipCheck( 'regist', '(!--# variable ID #--)',  '(!--# variable TYPE #--)' );return false;">検討中リストに追加</a>
<!--# readend #-->

<!--# readhead void #-->
<a class="btn_clip not" href="javascript:void(0);" onclick="javascript:noneClip();return false;">検討中リストに追加</a>
<!--# readend #-->

<!--# readhead delete #-->
<a class="btn_clip not" href="javascript:void(0);" onclick="javascript:clipCheck( 'delete', '(!--# variable ID #--)',  '(!--# variable TYPE #--)' );return false;" title="検討中リストから外す">検討中リストから外す</a>
<!--# readend #-->
