<!--# readhead head #--><?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="ja">
 <link rel="alternate" href="<!--# ent adapt head_link #-->" />
 <title><!--# ent adapt head_title #--></title>
 <updated><!--# ent adapt head_updated #--></updated>
 <id><!--# ent adapt head_id #--></id>
<!--# readend #-->

<!--# readhead list #--> <entry>
  <title><!--# ent adapt list_title #--></title>
  <link rel="alternate" href="<!--# ent adapt list_link #-->" />
  <id><!--# ent adapt list_id #--></id>
  <updated><!--# ent adapt list_updated #--></updated>
  <author><name><!--# ent adapt list_author #--></name></author>
 </entry>
<!--# readend #-->

<!--# readhead foot #--></feed><!--# readend #-->

<!--# readhead head_link #--><!--# ecode getSiteProfile home #--><!--# readend #-->
<!--# readhead head_title #--><!--# ecode getSiteProfile site_title #-->:記事の更新<!--# readend #-->
<!--# readhead head_updated #--><!--# setTimeFormat Y-m-d	H:i:sP #--><!--# code now #--><!--# readend #-->
<!--# readhead head_id #-->urn:uuid:<!--# ecode getSiteProfile uuid #--><!--# readend #-->

<!--# readhead list_title #--><!--# value name #--><!--# readend #-->
<!--# readhead list_link #--><!--# ecode getSiteProfile home #-->info.php?type=article&id=<!--# value id #--><!--# readend #-->
<!--# readhead list_id #--><!--# ecode getSiteProfile home #--><!--# value id #--><!--# readend #-->
<!--# readhead list_updated #--><!--# setTimeFormat Y-m-d	H:i:sP #--><!--# value open #--><!--# readend #-->
<!--# readhead list_author #--><!--# ecode getSiteProfile site_title #--><!--# readend #-->