<!--# syscode searchResult setResultNum 30 #-->
<!--# syscode searchResult setPagejumpNum 5 #-->

<!--# include head #-->
		<div class="cmn-path">
			<div class="cmn-path__">
				<ul class="cmn-path__list">
					<li class="cmn-path__list__item"><a href="./"><i class="fa fa-home" aria-hidden="true"></i></a></li>
					<li class="cmn-path__list__item">記事</li>
				</ul>
			</div><!--cmn-path__-->
		</div>

		<div class="l-pagebody">
		<div class="l-contents">
			<div class="cmslBlock cmslBlock--separate cmslBlock">

				<div class="cmslBlock__">
<!--# ifbegin ! val= (!--# get tag #--)  #-->
	<!--# syscode setTitle (!--# valueAlias article_tag (!--# get tag #--) id name #--)の記事 | (!--# ecode getSiteProfile site_title #--) #-->
	<!--# syscode setDescription (!--# valueAlias article_tag (!--# get tag #--) id name #--)の記事 | (!--# ecode getSiteProfile site_title #--) #-->
					<h1 class="cmn-heading cmn-heading--lv1"><!--# valueAlias article_tag (!--# get tag #--) id name #-->の記事</h1>
<!--# elseif ! val= (!--# get category #--)  #-->
	<!--# syscode setTitle (!--# valueAlias article_category (!--# get category #--) id name #--)の記事 | (!--# ecode getSiteProfile site_title #--) #-->
	<!--# syscode setDescription (!--# valueAlias article_category (!--# get category #--) id name #--)の記事 | (!--# ecode getSiteProfile site_title #--) #-->
					<h1 class="cmn-heading cmn-heading--lv1"><!--# valueAlias article_category (!--# get category #--) id name #-->の記事</h1>
<!--# else #-->
					<h1 class="cmn-heading cmn-heading--lv1">記事</h1>
<!--# endif #-->
					<ul class="result-articleList">
						<!--# syscode searchResult result #-->
					</ul>
					<!--# syscode searchResult info #-->
					<!--# syscode searchResult pageChange #-->

				</div><!--cmslBlock__-->

			</div><!--cmslBlock-->

		</div><!--l-contents-->
		</div><!--l-pagebody-->
<!--# include foot #-->
