<!--# readhead regist #-->
<a class="btn_clip" href="" onclick="clipCheck( 'regist', '(!--# variable ID #--)',  '(!--# variable TYPE #--)' );return false;">検討中リストに追加</a>
<!--# readend #-->

<!--# readhead void #-->
<a class="btn_clip" href="" onclick="javascript:noneClip();return false;">検討中リストに追加</a>
<!--# readend #-->

<!--# readhead delete #-->
<a class="btn_clip_out not" href="" onclick="javascript:clipCheck( 'delete', '(!--# variable ID #--)',  '(!--# variable TYPE #--)' );return false;">検討中リストから外す</a>
<!--# readend #-->
