<!--# form hidden label #-->
<table>
	<caption>おすすめ掲載</caption>
	<tr>
		<th style="width:220px;">掲載希望求人</th>
		<td>
			<!--# alias mid target_id id name #--><!--# alias fresh target_id id name #--> (<!--# value target_id #-->)
			<!--# form hidden target_id #-->
		</td>
	</tr>
	<tr>
		<th style="width:220px;">掲載プラン<span class="requisite">必須</span></th>
		<td>
			<div class="label2 clearfix">
                <!--# code tableSelectForm at_term at_term name id    sort_rank sort asc category = (!--# view Job drawJobType (!--# get target_id #--) #--) #-->
    		</div>
		</td>
	</tr>
</table>
