<table>
    <caption>応募した求人情報</caption>
    <tr>
        <th style="width:220px;">求人情報</th>
        <td>
			<!--# valueAlias (!--# alias entry entry_id id items_type #--) (!--# alias entry entry_id id items_id #--) id name #--> ((!--# alias entry entry_id id items_id #--))
        </td>
    </tr>
	<tr>
		<th>祝い金</th>
		<td>
			<!--# comma value money #--> 円
		</td>
	</tr>
    <tr>
        <th>初出勤日</th>
        <td><!--# value start_year #-->年<!--# value start_month #-->月<!--# value start_day #-->日</td>
    </tr>
    <tr>
        <th>備考</th>
        <td><!--# value memo #--></td>
    </tr>
</table>