<!--# readhead head #-->
<div class="error">
<!--# readend #-->

<!--# readhead is_error #-->
入力内容に誤りがあります。<br />
<!--# readend #-->

<!--# readhead start_year_date_format #-->
存在しない日付が入力されています。<br />
<!--# readend #-->

<!--# readhead bank_name #-->
銀行名が入力されていません。
<!--# readend #-->
<!--# readhead branch_name #-->
支店名が入力されていません。
<!--# readend #-->
<!--# readhead account_type #-->
種目が入力されていません。
<!--# readend #-->
<!--# readhead account_type_REGEX #-->
種目が不正です。
<!--# readend #-->
<!--# readhead account_cd #-->
口座番号が入力されていません。
<!--# readend #-->
<!--# readhead account_cd_REGEX #-->
口座番号は数値で入力してください。
<!--# readend #-->
<!--# readhead account_name #-->
口座名義が入力されていません。
<!--# readend #-->
<!--# readhead account_name_bankAccount #-->
使用できない文字が使用されています。<br />
口座名義は全角カナ、全角英数字で入力してください。
<!--# readend #-->
<!--# readhead reject_reason #-->
申請を却下する場合は理由を記載する必要があります。
<!--# readend #-->

<!--# readhead foot #-->
</div>
<!--# readend #-->
