<!--# include head #-->

<div id="contents">
    <div class="contents_inline c1 clearfix">

        <div class="contents_m">
            <h2>サイトマップの設定</h2>
            <div class="main">

                <div class="message">
                    <p>
                        設定が完了しました。
                    </p>
                    <ul>
                        <li><a href="index.php">トップページ</a></li>
                    </ul>
                </div><!--message END-->

            </div><!--main END-->
        </div><!--contents_m END-->

    </div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
