<!--# readhead head #-->
<div class="error">
<!--# readend #-->

<!--# readhead is_error #-->
入力内容に誤りがあります。<br />
<!--# readend #-->
<!--# readhead disp_flg #-->
タグ表示設定が選択されていません。<br/>
<!--# readend #-->
<!--# readhead child_directory #-->
<br/>
<!--# readend #-->
<!--# readhead max_url_count #-->
1ファイルあたりの最大URL数を入力してください。<br/>
<!--# readend #-->
<!--# readhead max_url_count_REGEX #-->
数値を入力してください。<br/>
<!--# readend #-->
<!--# readhead max_job_count #-->
求人情報の最大URL数を入力してください<br/>
<!--# readend #-->
<!--# readhead max_job_count_REGEX #-->
数値を入力してください。<br/>
<!--# readend #-->

<!--# readhead foot #-->
</div>
<!--# readend #-->
