<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>求職者の登録完了</h2>
			<div class="main">

				<div class="message">
					<p>
						求職者登録おつかれさまでした。<br />
						ご入力いただいたメールアドレス宛に登録完了メールを送信しました。<br />
						<br />
						続いて、履歴書の登録を行いましょう。<br />
						履歴書は、求人情報へ応募するのに必要なほか、企業からスカウトメッセージを受け取ることができます。<br />
						メールに記載されたURLにアクセスし、ログインしてください。
					</p>
					<ul>
						<li><a href="login.php?redirect_path=index.php%3Fapp_controller=register%26type=resume">続けて履歴書を登録する</a></li>
						<li><a href="./">トップページ</a></li>
					</ul>
				</div><!--message END-->

			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
