<!--ヘッダーを表示-->
<!--# include head #-->
<div id="contents">
<div class="contents_inline c1 clearfix">
<div class="contents_m">
<!--基本的にここ以下を編集-->

 <h2>見出し</h2>
 <div class="main">
  <div class="page_text">
   <p>本文</p>
   <ul>
    <li><a href="./">トップページ</a></li>
   </ul>
  </div><!--page_text END-->
 </div><!--main END-->

<!--基本的にここまでを編集-->

 <!--# mod special drawSearchEmbed #-->

</div><!--contents_m END-->

</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
