<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>インタビューの設定</h2>
			<div class="main">

				<div class="check_table">
				<!--# variable form_begin #-->
				
				<table>
					<caption>基本設定</caption>
					<tr>
						<th style="width:20%;">管理者承認</th>
						<td>
						<!--# arrayReplace ad_check / regist/edit/ 登録時/編集時/承認を行わない #-->
						</td>
					</tr>
					<tr>
						<th>登録情報編集通知</th>
						<td><!--# arrayReplace edit_notice / on/ 通知を行う/通知を行わない #--></td>
					</tr>
				</table>
				<p class="button">
					<input type="submit" name="back" value="戻る" class="btn_back" />
					<input type="submit" name="Submit" value="編集する" class="btn_edit" />
				</p>
				<!--# variable form_end #-->
			</div><!--check_table END-->

			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
