<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>応募者のいる求人情報は削除出来ません。</h2>
			<div class="main">
				<div class="error_message">
					<p>
						一般公開をされない場合は求人情報編集から非公開状態へ切り替えて下さい｡
					</p>
					<ul>
						<li><a href="index.php?app_controller=info&type=(!--# get type #--)&id=(!--# value id #--)">求人詳細ページへ</a></li>
						<li><a href="./">トップページ</a></li>
					</ul>
				</div><!--error_message END-->
			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
