<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>求人への応募</h2>
			<div class="main">
				<div class="error_message">
                    <p>
                        求人への応募をご利用頂くには、履歴書の登録が必要となります。<br />
                        <br />
                        履歴書の登録は下記のリンクから処理を行って頂けます。<br />
                    </p>
                    <ul>
                        <li><a href="index.php?app_controller=register&type=resume">履歴書の登録</a></li>
                        <li><a href="./">トップページ</a></li>
                    </ul>
				</div><!--error_message END-->
			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
