<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2><!--# valueAlias mid (!--# get mid_id #--) id name #--><!--# valueAlias fresh (!--# get fresh_id #--) id name #-->への応募</h2>
			<div class="main">
				<div class="error_message">
					<p>非公開求人、または募集が終了した求人です。</p>
					<ul>
						<li><a href="./">トップページ</a></li>
					</ul>
				</div><!--message END-->

			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
