<!--# readhead head #-->
<div class="error">
<!--# readend #-->

<!--# readhead is_error #-->
入力内容に誤りがあります。<br />
<!--# readend #-->

<!--# readhead name #-->
名前が入力されていません。<br />
<!--# readend #-->

<!--# readhead resume_id #-->
レジュメが選択されていません。<br />
<!--# readend #-->

<!--# readhead resume_id_NOT_MINE #-->
自身のレジュメ以外は送信できません。<br />
<!--# readend #-->

<!--# readhead work_place_adds #-->
勤務地 都道府県が選択されていません。<br />
<!--# readend #-->

<!--# readhead work_place_add_sub #-->
勤務地 市区町村が選択されていません。<br />
<!--# readend #-->

<!--# readhead items_form #-->
形態が選択されていません。<br />
<!--# readend #-->
<!--# readhead items_type #-->
タイプが選択されていません。<br />
<!--# readend #-->
<!--# readhead items_elements #-->
特徴が選択されていません。<br />
<!--# readend #-->

<!--# readhead publish #-->
公開が選択されていません。<br />
<!--# readend #-->

<!--# readhead foot #-->
</div>
<!--# readend #-->
