<!--# code saveRedirectPage #-->
<!--# syscode setTitle (!--# alias cUser owner id name #--)の求人情報 (!--# alias items_type category id name #--) [(!--# alias items_form work_style id name #--)] - (!--# code getData system ADMIN site_title #--) #-->
<!--# syscode setKeywords (!--# alias items_type category id name #--),(!--# alias items_form work_style id name #--),(!--# alias cUser owner id name #--),求人,募集,(!--# code getData system ADMIN site_title #--) #-->
<!--# syscode setDescription (!--# value name #--)、(!--# code Continuation (!--# escp value work_detail #--) 60 #--) #-->
<!--# include head #-->
<div id="contents">
	<h2 class="job_h2">
		<span class="cate">【<!--# alias items_type category id name #-->】</span><!--# value name #-->
		<!--# setTimeFormat U #-->
		<!--# ifbegin > attention_time (!--# code now u #--) #-->
		<span class="pickup">おすすめ</span>
		<!--# endif #-->
	</h2>
	<div class="main">
		<div class="error_message">
			<p>この求人情報は削除されました。</p>
		</div>

		<!--# ecode drawSocial (!--# get type #--) (!--# get id #--) (!--# alias cUser owner id name #--)の求人情報\ (!--# alias items_type category id name #--)\ [(!--# alias items_form work_style id name #--)]\ -\ (!--# code getData system ADMIN site_title #--) #-->

	</div><!--main END-->
</div><!--contents END-->

<!--# include foot #-->
