<!--職種から探す表示開始デザイン-->
<!--# readhead head #-->
<section class="contents_box items_type">
	<h2>職種から探す</h2>
	<div class="link_list body">
		<ul>
<!--# readend #-->

<!--職種から探す表示リストデザイン-->
<!--# readhead element #-->
			<li><a href="index.php?app_controller=search&type=(!--# mod viewMode getSelectedType #--)&run=true&category=(!--# variable id #--)&category_PAL[]=match+or"><!--# variable name #--> (<!--# variable row #-->)</a></li>
<!--# readend #-->

<!--職種から探す表示終了デザイン-->
<!--# readhead foot #-->
		</ul>
	</div><!--body-->
</section><!--top_search-->
<!--# readend #-->
