<div class="form_table">
<table id="sendInfo">
	<tr>
		<th style="width:220px;">ユーザー種別<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate user_type #--)">
			<!--# form option user_type  /nUser/cUser 未選択/求職者/企業 #-->
			<!--# syscode validate user_type #-->
			<span class="hint">配信リストを組むユーザー情報の種別を選んでください。</span>
		</td>
	</tr>
	<tr>
		<th style="width:220px;">リスト名<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate list_name #--)">
			<!--# form text list_name 60 255 #-->
			<!--# syscode validate list_name #-->
		</td>
	</tr>
</table>
</div>