<!--# readhead head #-->
<div id="social" class="clearfix">
<!--# readend #-->

<!--# readhead mixi #-->
    <div class="mixi">
		<a href="//mixi.jp/share.pl" class="mixi-check-button" data-key="(!--# variable MIXI_CHECK #--)">mixiチェック</a>
    	<script type="text/javascript" src="//static.mixi.jp/js/share.js"></script>
	</div>
<!--# readend #-->

<!--# readhead hatena #-->
	<div class="hatena">
		<a href="//b.hatena.ne.jp/entry/(!--# variable URL #--)" class="hatena-bookmark-button" data-hatena-bookmark-title="(!--# variable TITLE #--)" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="//b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="//b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
	</div>
<!--# readend #-->

<!--# readhead twitter #-->
	<div class="twitter">
	    <a href="//twitter.com/share" class="twitter-share-button" data-url="(!--# variable URL #--)" data-text="(!--# variable TITLE #--)">Tweet</a>
    	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id))
    	{js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
    	fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
<!--# readend #-->

<!--# readhead facebook #-->
	<div class="facebook">
		<iframe src="//www.facebook.com/plugins/like.php?href=(!--# urlenc variable URL_ENCODE #--)&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
	</div>
<!--# readend #-->

<!--# readhead line #-->
	<div class="line">
		<script type="text/javascript" src="//media.line.naver.jp/js/line-button.js?v=20130508" ></script>
		<script type="text/javascript">
		new jp.naver.line.media.LineButton({"pc":true,"lang":"ja","type":"a"});
		</script>
	</div>
<!--# readend #-->

<!--# readhead foot #-->
</div>
<!--# readend #-->
