<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>履歴書の削除</h2>
			<div class="main">
				<div class="error_message">
					<p>
						履歴書を全て削除することは出来ません。<br />
						最低でも一つ公開用の履歴書を残しておく必要があります。
					</p>
					<ul>
						<li><a href="./">トップページ</a></li>
					</ul>
				</div><!--error_message END-->
			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
