<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>求人サービス - 求職者検索</h2>
			<div class="main">
				<div class="error_message">
					<p>
						求職者検索サービスをご利用頂くには、有料サービスへのご契約が別途必要となります。<br />
						<br />
						有料サービスへの新規ご契約、または有効期限の延長をご希望の際は下記のリンクから契約処理を行って頂けます。<br />
					</p>
					<ul>
						<li><a href="index.php?app_controller=register&type=pay_job">有料プランの新規契約・更新はこちら</a></li>
						<li><a href="./">トップページ</a></li>
					</ul>
				</div><!--error_message END-->
			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
