<!--# readhead head #-->
<div class="error">
<!--# readend #-->

<!--# readhead is_error #-->
入力内容に誤りがあります。<br />
<!--# readend #-->

<!--# readhead name #-->
氏名が入力されていません。<br />
<!--# readend #-->
<!--# readhead mail #-->
連絡先メールアドレスが入力されていません。<br />
<!--# readend #-->
<!--# readhead mail_MAIL #-->
メールアドレスが不正です、「～@～」の形式で使用出来る文字列のみで記入してください。<br />
<!--# readend #-->
<!--# readhead sex #-->
性別が選択されていません。<br />
<!--# readend #-->
<!--# readhead birth_date_year #-->
生年月日(年)が入力されていません。<br />
<!--# readend #-->
<!--# readhead birth_date_month #-->
生年月日(月)が入力されていません。<br />
<!--# readend #-->
<!--# readhead birth_date_day #-->
生年月日(日)が入力されていません。<br />
<!--# readend #-->
<!--# readhead birth_date_date_format #-->
存在しない日付が入力されています。<br />
<!--# readend #-->
<!--# readhead hope_job_category #-->
希望職種が選択されていません。<br />
<!--# readend #-->
<!--# readhead hope_work_style #-->
希望勤務形態が選択されていません。<br />
<!--# readend #-->
<!--# readhead spouse #-->
配偶者の有無が選択されていません。<br />
<!--# readend #-->

<!--# readhead publish_open #-->
最低一件履歴書を公開する必要があります。<br />
<!--# readend #-->

<!--# readhead foot #-->
</div>
<!--# readend #-->
