<!--# readhead notice #-->
	<!--# setTimeFormat Y年m月d日\ H時i分 #-->
	<div style="margin: 20px 5px; color: #f00;">
		いつも<!--# ecode getSiteProfile site_title #-->をご利用いただき、誠にありがとうございます。<br />
		下記の通り、システムメンテナンスを実施いたします。<br />
		<br />
		■予定日時<br />
		<span style="margin-left: 1em;">
			<!--# value begin_time #-->
			～
			<!--# ifbegin boolean use_end_time #-->
				<!--# value end_time #-->
			<!--# endif #-->
		</span><br />
		<br />
		※ 登録・編集中のデータがある場合は、メンテナンス開始前に作業を完了くださいますようお願いいたします。
	</div>
<!--# readend #-->
