<ul>
    <li>
        <span>求人情報</span>
        <p>
			<!--# valueAlias (!--# alias entry entry_id id items_type #--) (!--# alias entry entry_id id items_id #--) id name #--> ((!--# alias entry entry_id id items_id #--))
        </p>
    </li>
	<li>
		<span>祝い金</span>
		<p>
			<!--# comma value money #--> 円
		</p>
	</li>
    <li>
        <span>初出勤日</span>
        <p><!--# value start_year #-->年<!--# value start_month #-->月<!--# value start_day #-->日</p>
    </li>
    <li>
        <span>備考</span>
        <p><!--# value memo #--></p>
    </li>
</ul>