<!--# readhead head #-->
<div class="error">
<!--# readend #-->

<!--# readhead is_error #-->
入力内容に誤りがあります。<br />
<!--# readend #-->


<!--# readhead mail #-->
メールアドレスが入力されていません。<br />
<!--# readend #-->
<!--# readhead mail_dup #-->
そのメールアドレスは既に利用されています。<br />
<!--# readend #-->
<!--# readhead mail_MAIL #-->
メールアドレスが不正です、「～@～」の形式で使用出来る文字列のみで記入してください。<br />
<!--# readend #-->
<!--# readhead pass #-->
パスワードが入力されていません。<br />
<!--# readend #-->
<!--# readhead pass_REGEX #-->
パスワードに使用できない文字が含まれています。<br />
<!--# readend #-->
<!--# readhead pass_CONFIRM_NOT #-->
パスワードが入力されていません。<br />
<!--# readend #-->
<!--# readhead pass_CONFIRM_CHECK #-->
パスワード入力内容が一致していません。<br />
<!--# readend #-->
<!--# readhead pass_short #-->
パスワードは6文字以上で指定してください。<br />
<!--# readend #-->

<!--# readhead foot #-->
</div>
<!--# readend #-->
