<table>
	<caption>銀行口座情報</caption>
	<tr>
		<th style="width:230px;">銀行名</th>
		<td class="ta_left"><!--# value bank_name #--></td>
	</tr>
	<tr>
        <th>支店名</th>
        <td class="ta_left"><!--# value branch_name #--></td>
    </tr>
    <tr>
		<th>種目</th>
		<td class="ta_left"><!--# arrayReplace account_type / 1/2/4 普通/当座/貯蓄 #--></td>
	</tr>
	<tr>
		<th>口座番号</th>
		<td class="ta_left"><!--# value account_cd #--></td>
	</tr>
	<tr>
		<th>銀行口座名義</th>
		<td class="ta_left"><!--# value account_name #--></td>
	</tr>
</table>