<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>お祝い金申請</h2>
			<div class="main">
				<div class="error_message">
					<p>
						お祝い金を申請するには予め振込先情報を登録しておく必要があります。<br />
						<br />
						<a href="index.php?app_controller=edit&type=bank_account&id=<!--# code loginid #--)">振込先情報の登録・編集はこちら</a>から設定できます。<br />
					</p>
					<ul>
						<li><a href="./">トップページ</a></li>
					</ul>
				</div><!--error_message END-->
			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
