<!--# readhead head #-->
<div class="error">
<!--# readend #-->

<!--# readhead is_error #-->
入力内容に誤りがあります。<br />
<!--# readend #-->

<!--# readhead name #-->
氏名が入力されていません。<br />
<!--# readend #-->
<!--# readhead nick_name #-->
ニックネームが入力されていません。<br />
<!--# readend #-->
<!--# readhead kana #-->
フリガナが入力されていません。<br />
<!--# readend #-->
<!--# readhead mail #-->
メールアドレスが入力されていません。<br />
<!--# readend #-->
<!--# readhead mail_dup #-->
そのメールアドレスは既に利用されています。<br />
<!--# readend #-->
<!--# readhead mail_MAIL #-->
メールアドレスが不正です、「～@～」の形式で使用出来る文字列のみで記入してください。<br />
<!--# readend #-->
<!--# readhead tel_REGEX #-->
電話番号は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead mobile_tel_REGEX #-->
携帯電話番号は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead zip1 #-->
郵便番号(1)が入力されていません。<br />
<!--# readend #-->
<!--# readhead zip1_REGEX #-->
郵便番号(1)は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead zip2 #-->
郵便番号(2)が入力されていません。<br />
<!--# readend #-->
<!--# readhead zip2_REGEX #-->
郵便番号(2)は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead adds #-->
都道府県が選択されていません。<br />
<!--# readend #-->
<!--# readhead adds_in_table #-->
住所が情報が不正です。<br />
<!--# readend #-->
<!--# readhead add_sub #-->
市区町村が選択されていません。<br />
<!--# readend #-->
<!--# readhead pass #-->
パスワードが入力されていません。<br />
<!--# readend #-->
<!--# readhead pass_REGEX #-->
パスワードに使用できない文字が含まれています。<br />
<!--# readend #-->
<!--# readhead pass_CONFIRM_CHECK #-->
パスワード入力内容が一致していません。<br />
<!--# readend #-->
<!--# readhead pass_CONFIRM_NOT #-->
パスワードが入力されていません。<br />
<!--# readend #-->
<!--# readhead pass_short #-->
パスワードは6文字以上で指定してください。<br />
<!--# readend #-->

<!--# readhead foot #-->
</div>
<!--# readend #-->
