<ul>
	<li>
		<span style="width:230px;">銀行名</span>
		<p class="ta_left"><!--# value bank_name #--></p>
	</li>
	<li>
        <span>支店名</span>
        <p class="ta_left"><!--# value branch_name #--></p>
    </li>
    <li>
		<span>種目</span>
		<p class="ta_left"><!--# arrayReplace account_type / 1/2/4 普通/当座/貯蓄 #--></p>
	</li>
	<li>
		<span>口座番号</span>
		<p class="ta_left"><!--# value account_cd #--></p>
	</li>
	<li>
		<span>銀行口座名義</span>
		<p class="ta_left"><!--# value account_name #--></p>
	</li>
</ul>