<!--# readhead head #-->
<div class="error">
<!--# readend #-->

<!--# readhead is_error #-->
入力内容に誤りがあります。<br />
<!--# readend #-->

<!--# readhead home #-->
サイトのURLが入力されていません。<br />
<!--# readend #-->
<!--# readhead home_REGEX #-->
http://example.com/と言うように/で終わる形で入力してください。<br />
<!--# readend #-->
<!--# readhead site_title #-->
サイトタイトルが入力されていません。<br />
<!--# readend #-->
<!--# readhead tax_REGEX #-->
消費税率設定は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead description #-->
サイト概要が入力されていません。<br />
<!--# readend #--
<!--# readhead keywords #-->
サイトキーワードが入力されていません。<br />
<!--# readend #-->
<!--# readhead mail_name #-->
メール送信者名が入力されていません。<br />
<!--# readend #-->
<!--# readhead mail_address #-->
メール送信元アドレスが入力されていません。<br />
<!--# readend #-->
<!--# readhead mail_address_MAIL #-->
メールアドレスが不正です、「～@～」の形式で使用出来る文字列のみで記入してください。<br />
<!--# readend #-->

<!--# readhead bank_name #-->
銀行名が入力されていません。<br />
<!--# readend #-->
<!--# readhead branch_name #-->
支店名が入力されていません。<br />
<!--# readend #-->
<!--# readhead account_type #-->
種目が選択されていません。<br />
<!--# readend #-->
<!--# readhead account_cd #-->
口座番号が入力されていません。<br />
<!--# readend #-->
<!--# readhead account_cd_REGEX #-->
口座番号半角数字で入力して下さい。<br />
<!--# readend #-->
<!--# readhead account_name #-->
銀行口座名義が入力されていません。<br />
<!--# readend #-->
<!--# readhead account_name_bankAccount #-->
使用できない文字が使用されています。<br />
口座名義は全角カナ、全角英数字で入力してください。
<!--# readend #-->


<!--# readhead keep_limit #-->
受信メッセージの保存期間が指定されていません。<br />
<!--# readend #-->
<!--# readhead del_type #-->
メッセージの削除方法が選択されていません。<br />
<!--# readend #-->


<!--# readhead foot #-->
</div>
<!--# readend #-->
