<!--# readhead head #-->
<div class="error">
<!--# readend #-->

<!--# readhead is_error #-->
入力内容に誤りがあります。<br />
<!--# readend #-->

<!--# readhead target_graduation #-->
対象卒業年度が選択されていません。<br />
<!--# readend #-->

<!--# readhead term_type_EXIST_APPLY #-->
既に応募があるため、課金方式を変更できません。<br />
<!--# readend #-->
<!--# readhead term_type #-->
課金方式が選択されていません。<br />
<!--# readend #-->
<!--# readhead limit_check #-->
求人登録数が上限に達しています。<br />
<!--# readend #-->

<!--# readhead name #-->
求人タイトルが入力されていません。<br />
<!--# readend #-->

<!--# readhead work_style #-->
勤務形態が選択されていません。<br />
<!--# readend #-->

<!--# readhead category #-->
募集職種が選択されていません。<br />
<!--# readend #-->

<!--# readhead work_place_zip1 #-->
郵便番号(1)が入力されていません。<br />
<!--# readend #-->
<!--# readhead work_place_zip1_REGEX #-->
郵便番号(1)は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead work_place_zip2 #-->
郵便番号(2)が入力されていません。<br />
<!--# readend #-->
<!--# readhead work_place_zip2_REGEX #-->
郵便番号(2)は半角数字で入力してください。<br />
<!--# readend #-->

<!--# readhead work_place_adds #-->
勤務地 都道府県が選択されていません。<br />
<!--# readend #-->
<!--# readhead adds_in_table #-->
勤務地 都道府県情報が不正です。<br />
<!--# readend #-->
<!--# readhead work_place_add_sub #-->
勤務地 市区町村が選択されていません。<br />
<!--# readend #-->
<!--# readhead add_sub_in_table #-->
勤務地 市区町村情報が不正です。<br />
<!--# readend #-->
<!--# readhead work_place_add_sub2 #-->
勤務地 番地が入力されていません。<br />
<!--# readend #-->
<!--# readhead foreign_address #-->
勤務地 住所が入力されていません。<br />
<!--# readend #-->
<!--# readhead work_place_label #-->
勤務地（表示用）が入力されていません。<br />
<!--# readend #-->

<!--# readhead lat_REGEX #-->
緯度は小数で入力して下さい。<br />
<!--# readend #-->
<!--# readhead lon_REGEX #-->
経度は小数で入力して下さい。<br />
<!--# readend #-->

<!--# readhead salary_type #-->
給与種別が選択されていません。<br />
<!--# readend #-->
<!--# readhead salary #-->
給与額が入力されていません。<br />
<!--# readend #-->
<!--# readhead salary_REGEX #-->
給与額は半角で整数、または小数で入力が可能です。<br />
<!--# readend #-->
<!--# readhead salary_label #-->
給与（表示用） が入力されていません。<br />
<!--# readend #-->

<!--# readhead work_detail #-->
仕事内容が入力されていません。<br />
<!--# readend #-->
<!--# readhead treatment #-->
待遇が入力されていません。<br />
<!--# readend #-->
<!--# readhead holiday #-->
休日・休暇が入力されていません。<br />
<!--# readend #-->
<!--# readhead work_time #-->
勤務時間が入力されていません。<br />
<!--# readend #-->
<!--# readhead job_pr #-->
PRが入力されていません。<br />
<!--# readend #-->

<!--# readhead image1_FILE_NULL #-->
紹介写真（メイン画像）が選択されていません。<br />
<!--# readend #-->
<!--# readhead image1_NO_IMAGE #-->
紹介写真（メイン画像）に画像以外のファイルが指定されています。<br />
<!--# readend #-->
<!--# readhead image2_NO_IMAGE #-->
紹介写真（サブ画像１）に画像以外のファイルが指定されています。<br />
<!--# readend #-->
<!--# readhead image3_NO_IMAGE #-->
紹介写真（サブ画像２）に画像以外のファイルが指定されています。<br />
<!--# readend #-->

<!--# readhead notice_mail #-->
応募通知先メールアドレスが入力されていません。<br />
<!--# readend #-->
<!--# readhead notice_mail_MAIL #-->
メールアドレスが不正です、「～@～」の形式で使用出来る文字列のみで記入してください。<br />
<!--# readend #-->

<!--# readhead limitation #-->
求人閲覧が選択されていません。<br />
<!--# readend #-->

<!--# readhead use_max_apply #-->
応募上限の有無が選択されていません。<br />
<!--# readend #-->
<!--# readhead use_max_apply_error #-->
応募上限の有無が選択されていません。<br />
<!--# readend #-->
<!--# readhead max_apply #-->
応募上限を選択して下さい。<br />
<!--# readend #-->
<!--# readhead max_apply_REGEX #-->
応募上限は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead publish #-->
求人公開が選択されていません。<br />
<!--# readend #-->

<!--# readhead use_limit_time_apply #-->
掲載期限が選択されていません。<br />
<!--# readend #-->
<!--# readhead use_limit_time_apply_error #-->
掲載期限が選択されていません。<br />
<!--# readend #-->
<!--# readhead limits #-->
掲載期限を入力して下さい。<br />
<!--# readend #-->
<!--# readhead limits_OVERFLOW #-->
この日付は指定できません。<br />
<!--# readend #-->
<!--# readhead limits_date_format #-->
存在しない日付が入力されています。<br />
<!--# readend #-->
<!--# readhead limits_old_date #-->
明日以降の日付を指定してください。<br />
<!--# readend #-->

<!--# readhead attention_time #-->
おすすめ掲載期限を入力して下さい。<br />
<!--# readend #-->
<!--# readhead attention_time_OVERFLOW #-->
この日付は指定できません。<br />
<!--# readend #-->
<!--# readhead attention_time_date_format #-->
存在しない日付が入力されています。<br />
<!--# readend #-->
<!--# readhead attention_time_old_date #-->
明日以降の日付を指定してください。<br />
<!--# readend #-->

<!--# readhead foot #-->
</div>
<!--# readend #-->
