<!--# include head #-->
<div id="contents">
    <div class="contents_inline c1 clearfix">
        <div class="contents_m">
            <h2>(!--# mod googlejob drawArray JP_TABLE_NAME (!--# get type #--) #--)の設定</h2>
            <div class="main">
                <div class="message">
                    <p>設定が完了しました。</p>
                    <ul>
                        <li><a href="./">トップページ</a></li>
                    </ul>
                </div>
                <!--message END-->
            </div>
            <!--main END-->
        </div>
        <!--contents_m END-->
    </div>
    <!--contents_inline END-->
</div>
<!--contents END-->
<!--# include foot #-->
