<!--# setTimeFormat Y/m/d #-->
<li class="result-articleList__item">
	<div class="view-articleCard view-articleCard--list">
		<a class="view-articleCard__" href="(!--# code link info (!--# get type #--) (!--# value id #--) #--)">
			<div class="view-articleCard__thumb">
				<!--# view article drawImage 300 300 module/article/common/img/noimage_1_1.png #-->
			</div>
			<div class="view-articleCard__body">
				<h3 class="view-articleCard__body__title"><!--# value name #--></h3>
				<div class="view-articleCard__body__description"><!--# value description #--></div>
			</div>
		</a>
	</div><!--view-articleCard-->
</li>
