<!--# readhead success #-->

<!--# syscode searchResult setResultNum 6 #-->
<!--# syscode searchResult result #-->

<!--# readend #-->

<!--# readhead failed #-->
<p class="message_result_none">その条件に一致する記事はありませんでした。</p>
<!--# readend #-->

<!--# readhead list #-->
<!--# setTimeFormat Y/m/d #-->

<div class="embed-articleListHorizntal__">
	<div class="view-articleCardThumb view-articleCardThumb--list view-articleCardThumb--min">
		<a class="view-articleCardThumb__" href="(!--# code link info article (!--# value id #--) #--)">
			<div class="view-articleCardThumb__thumb">
				<!--# view article drawImage 400 225 common/img/noimage.jpg #-->
			</div>
			<div class="view-articleCardThumb__body">
				<h3 class="view-articleCardThumb__body__title"><!--# value name #--></h3>
				<div class="view-articleCardThumb__body__description"><!--# value description #--></div>
			</div>
		</a>
	</div><!--view-articleCardThumb END-->
</div><!--embed-articleListHorizntal__ END-->

<!--# readend #-->