<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>企業登録完了</h2>
			<div class="main">

				<div class="message">
					<p>
					<!--# value name #-->様、お疲れ様でした。以上で登録作業は終了です。<br />
					これより管理者の確認に入ります。<br />
					数日中には確認が完了し、<br />
					問題ございませんでしたら各種機能がご利用可能となりますので今しばらくお待ちください。
					</p>
					<ul>
						<li><a href="index.php">トップページ</a></li>
					</ul>
				</div><!--message END-->

			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
