<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>企業登録完了</h2>
			<div class="main">

				<div class="message">
					<p><!--# value name #-->様、お疲れ様でした。以上で登録作業は終了です。<br />サイトをご利用される場合は<a href="login.php">ログインフォーム</a>からログインして下さい。</p>
					<ul>
						<li><a href="./">トップページ</a></li>
					</ul>
				</div><!--message END-->

			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
