<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>求人サービス - 新卒採用 の契約</h2>
			<div class="main">

				<div class="error_message">
					<p>新卒求人は契約期限が残っている間は追加契約は行えません。</p>
					<!--# async code embedSearch type=pay_job&run=true&pay_flg=true&pay_flg_PAL[]=match+comp&limits_PAL[]=match gt&label=fresh&label_PAL[]=match+comp&limits=(!--# code now u -86400 #--)&sort=limits&sort_PAL=desc&embedID=pay_simple&max=label #-->
					<ul>
						<li><a href="./">トップページ</a></li>
					</ul>
				</div><!--error_message END-->

			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
