<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>退会出来ません。</h2>
			<div class="main">

				<div class="message">
					<p>
						未請求の利用料金、または未払いの請求があるためこのアカウントは現在退会出来ません。
					</p>
					<ul>
						<li><a href="index.php?app_controller=search&type=bill&run=true">請求情報一覧へ</a></li>
						<li><a href="index.php">トップページ</a></li>
					</ul>
				</div><!--message END-->

			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
