<table>
	<caption>パスワード管理</caption>
	<tr>
		<th style="width:220px;">パスワード<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate pass #--)">
			<!--# form password pass 30 50 #-->
			<span class="hint">※ご希望の半角英数字6文字以上</span>
			<!--# syscode validate pass #-->
		</td>
	</tr>
	<tr>
		<th>パスワード（確認用）<span class="requisite">必須</span></th>
		<td class="(!--# syscode is_validate pass_CONFIRM_NOT/pass_CONFIRM_CHECK #--)">
			<!--# form password pass_confirm 30 50 #-->
			<span class="hint">※上記と同じものを確認のために入力して下さい。</span>
			<!--# syscode validate pass_CONFIRM_NOT pass_CONFIRM_CHECK #-->
		</td>
	</tr>
</table>