<!--# readhead head #-->
<div class="error">
<!--# readend #-->

<!--# readhead is_error #-->
入力内容に誤りがあります。<br />
<!--# readend #-->

<!--# readhead name #-->
企業名が入力されていません。<br />
<!--# readend #-->
<!--# readhead mail #-->
メールアドレスが入力されていません。<br />
<!--# readend #-->
<!--# readhead mail_dup #-->
そのメールアドレスは既に利用されています。<br />
<!--# readend #-->
<!--# readhead mail_MAIL #-->
メールアドレスが不正です、「～@～」の形式で使用出来る文字列のみで記入してください。<br />
<!--# readend #-->
<!--# readhead sub_mail_MAIL #-->
メールアドレスが不正です、「～@～」の形式で使用出来る文字列のみで記入してください。<br />
<!--# readend #-->
<!--# readhead sub_mail2_MAIL #-->
メールアドレスが不正です、「～@～」の形式で使用出来る文字列のみで記入してください。<br />
<!--# readend #-->
<!--# readhead owner_name #-->
代表者名が入力されていません。<br />
<!--# readend #-->
<!--# readhead charge_name #-->
担当者名が入力されていません。<br />
<!--# readend #-->
<!--# readhead employee #-->
従業員数が入力されていません。<br />
<!--# readend #-->
<!--# readhead employee_REGEX #-->
従業員数は半角数字が使用可能です。<br />
<!--# readend #-->
<!--# readhead mean_age_REGEX #-->
平均年齢は半角数字が使用可能です。<br />
<!--# readend #-->
<!--# readhead tel #-->
電話番号が入力されていません。<br />
<!--# readend #-->
<!--# readhead tel_REGEX #-->
電話番号は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead fax_REGEX #-->
FAX番号は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead establish_date #-->
会社設立日が入力されていません。<br />
<!--# readend #-->
<!--# readhead work_detail #-->
事業内容が入力されていません。<br />
<!--# readend #-->
<!--# readhead foreign_address #-->
住所が入力されていません。<br />
<!--# readend #-->
<!--# readhead zip1 #-->
郵便番号(1)が入力されていません。<br />
<!--# readend #-->
<!--# readhead zip1_REGEX #-->
郵便番号(1)は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead zip2 #-->
郵便番号(2)が入力されていません。<br />
<!--# readend #-->
<!--# readhead zip2_REGEX #-->
郵便番号(2)は半角数字で入力してください。<br />
<!--# readend #-->
<!--# readhead adds #-->
都道府県が選択されていません。<br />
<!--# readend #-->
<!--# readhead adds_in_table #-->
所在地が情報が不正です。<br />
<!--# readend #-->
<!--# readhead add_sub #-->
市区町村が選択されていません。<br />
<!--# readend #-->
<!--# readhead add_sub2 #-->
番地が入力されていません。<br />
<!--# readend #-->
<!--# readhead lat_REGEX #-->
緯度は小数で入力して下さい。<br />
<!--# readend #-->
<!--# readhead lon_REGEX #-->
経度は小数で入力して下さい。<br />
<!--# readend #-->
<!--# readhead url_URI #-->
URLの書式が不正です。<br />
<!--# readend #-->

<!--# readhead image_NO_IMAGE #-->
企業イメージ画像に画像以外のファイルが指定されています。<br />
<!--# readend #-->

<!--# readhead pass #-->
パスワードが入力されていません。<br />
<!--# readend #-->
<!--# readhead pass_REGEX #-->
パスワードに使用できない文字が含まれています。<br />
<!--# readend #-->
<!--# readhead pass_CONFIRM_NOT #-->
パスワードが入力されていません。<br />
<!--# readend #-->
<!--# readhead pass_CONFIRM_CHECK #-->
パスワード入力内容が一致していません。<br />
<!--# readend #-->
<!--# readhead pass_short #-->
パスワードは6文字以上で指定してください。<br />
<!--# readend #-->
<!--# readhead foot #-->
</div>
<!--# readend #-->
