<!--# readhead head #-->
<select name="(!--# variable name #--)">
<option value="">未選択</option>
<!--# readend #-->

<!--# readhead list #-->
<option value="<!--# value id #-->">【 <!--# value id #--> 】　<!--# code Continuation (!--# escp value name #--) 20 #--></option>
<!--# readend #-->

<!--# readhead list_selected #-->
<option value="<!--# value id #-->" selected>【 <!--# value id #--> 】　<!--# code Continuation (!--# escp value name #--) 20 #--></option>
<!--# readend #-->

<!--# readhead list_gift #-->
<option value="<!--# value id #-->">【 <!--# value items_id #--> 】　<!--# valueAlias (!--# value items_type #--) (!--# value items_id #--) id name #--></option>
<!--# readend #-->

<!--# readhead foot #-->
</select>
<!--# readend #-->

<!--# readhead group_mid_head #-->
<optgroup label="中途採用求人">
<!--# readend #-->

<!--# readhead group_mid_foot #-->
</optgroup>
<!--# readend #-->

<!--# readhead group_fresh_head #-->
<optgroup label="新卒採用求人">
<!--# readend #-->

<!--# readhead group_fresh_foot #-->
</optgroup>
<!--# readend #-->

<!--# readhead unknown #-->
条件に一致する採用が決定した応募情報がありません。 
<!--# readend #-->