<!--# include head #-->
<div id="contents">
    <div class="contents_inline c1 clearfix">

        <div class="contents_m">
            <h2>メッセージの送信</h2>
            <div class="main">
                <div class="message">
                    <p>
						<span class="att">このメッセージフォームは返信専用です。</span><br />
						<br />
						メッセージを返信するには、スカウトメッセージに対する求職者からの返信内容を受信している必要があります。<br />
                        求職者からの返信メッセージがない、または辞退されたスカウトには返信することができません。<br />
						<br />
                        再度、同じ求職者へメッセージを送信するには <a href="index.php?app_controller=search&type=resume&run=true">こちら</a> のスカウト機能をご利用ください。
                    </p>
                    <ul>
                        <li><a href="./">トップページ</a></li>
                    </ul>
                </div><!--error_message END-->
            </div><!--main END-->
        </div><!--contents_m END-->

    </div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
