<!--# include head #-->
<div id="contents">
    <div class="contents_inline c1 clearfix">

        <div class="contents_m">
            <h2>メッセージの送信</h2>
            <div class="main">
                <div class="error_message">
                    <p>
                        送信対象のユーザーが退会、または利用制限中となっています。<br />
                        このユーザーへメッセージを送信することは出来ません。
                    </p>
                    <ul>
                        <li><a href="./">トップページ</a></li>
                    </ul>
                </div><!--error_message END-->
            </div><!--main END-->
        </div><!--contents_m END-->

    </div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
