<!--# readhead head #--><?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><!--# ent adapt head_title #--></title>
    <link><!--# ent adapt head_link #--></link>
    <description><!--# ent adapt head_description #--></description>
    <language>ja-jp</language>
    <pubDate><!--# setTimeFormat D,\ d\ M\ Y\ H:i:s\ O #--><!--# ent adapt head_pubdate #--></pubDate>
<!--# readend #-->

<!--# readhead list #-->
    <item>
      <title><!--# ent adapt list_title #--></title>
      <link><!--# ent adapt list_link #--></link>
      <description><![CDATA[<!--# ent adapt list_description #-->]]></description>
      <author><!--# ent adapt list_author #--></author>
      <guid><!--# ent adapt list_guid #--></guid>
      <pubDate><!--# ent adapt list_pubdate #--></pubDate>
    </item>
<!--# readend #-->

<!--# readhead foot #-->
  </channel>
</rss>
<!--# readend #-->

<!--# readhead head_title #--><!--# ecode getSiteProfile site_title #-->:求人情報の更新<!--# readend #-->
<!--# readhead head_link #--><!--# ecode getSiteProfile home #--><!--# readend #-->
<!--# readhead head_description #-->新着の求人情報<!--# readend #-->
<!--# readhead head_pubdate #--><!--# code now #--><!--# readend #-->

<!--# readhead list_title #--><!--# value name #--><!--# readend #-->
<!--# readhead list_link #--><!--# ecode getSiteProfile home #-->index.php?app_controller=info&type=mid&id=<!--# value id #--><!--# readend #-->
<!--# readhead list_description #-->【勤務形態】<!--# ent alias items_form work_style id name #-->
【募集職種】<!--# ent alias items_type category id name #-->
<!--# ifbegin = foreign_flg TRUE #-->
【勤務地】<!--# ent value foreign_address #-->
<!--# else #-->
【勤務地】<!--# ent value work_place_label #-->
<!--# endif #-->
【給与】<!--# ent value salary_label #-->
<!--# readend #-->
<!--# readhead list_author #--><!--# ecode getSiteProfile site_title #--><!--# readend #-->
<!--# readhead list_guid #--><!--# ecode getSiteProfile home #-->index.php?app_controller=info&type=mid&id=<!--# value id #--><!--# readend #-->
<!--# readhead list_pubdate #--><!--# setTimeFormat D,\ d\ M\ Y\ H:i:s\ O #--><!--# value edit #--><!--# readend #-->
