<!--# include head #-->
<div id="contents">
    <div class="contents_inline c2 clearfix">

        <div class="contents_m">
            <h2>非公開求人です。</h2>
            <div class="main">

                <div class="error_message">
                    <p>この求人情報は現在非公開に設定されているため閲覧することが出来ません。</p>
                    <ul>
						<li><a href="./index.php?app_controller=info&type=cUser&id=<!--# value owner #-->">「<!--# alias cUser owner id name #-->」の企業情報詳細はこちら</a></li>
                        <li><a href="./">トップページに戻る</a></li>
                    </ul>
                </div><!--error_message END-->
				
			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
