<!--# readhead head #-->

<div class="list_table">
	<ul class="item_list clearfix">
<!--# readend #-->

<!--# readhead foot #-->
	</ul>
</div><!--list_table END-->

<!--# readend #-->

<!--# readhead failed #-->

<p class="message_result_none">その条件に一致する求人情報はありませんでした。</p>



<!--# readend #-->

<!--# readhead list #-->

<!--# setTimeFormat Y/m/d #-->
<li class="clearfix">
	<p class="img"><a href="index.php?app_controller=info&type=(!--# get type #--)&id=(!--# value id #--)"><!--# object image image1 size 120 90 not <img\ src="common/img/noimage.gif"\ /> #--></a></p>
	<div class="text">
		<span class="cate">[<!--# alias items_type category id name #-->]</span>
		<span class="title"><a href="index.php?app_controller=info&type=(!--# get type #--)&id=(!--# value id #--)"><!--# code Continuation (!--# escp value name false #--) 15 #--><span>（<!--# alias adds work_place_adds id name 未設定 #-->）</span></a></span>
	</div>
</li>
<!--# readend #-->
