<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>登録上限に達しています。</h2>
			<div class="main">
				<div class="message">
					<p>求人の最大登録数は <!--# view Conf drawData job max #--> 件 です。<br />
					新しく求人を登録したい場合は既に登録済みの求人を削除してください。</p>
					<ul>
						<li><a href="index.php?app_controller=search&type=mid&run=true">登録済み求人情報の一覧</a></li>
						<li><a href="./">トップページ</a></li>
					</ul>
				</div><!--message END-->

			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
