<!--職種から探す表示開始デザイン-->
<!--# readhead head #-->
<div class="contents_box items_type jobType">
	<h2>職種から探す</h2>
	<div class="body">
		<ul class="clearfix">
<!--# readend #--> 

<!--職種から探す表示リストデザイン-->
<!--# readhead element #-->
			<!--# ifbegin val= (!--# val STATIC_URL_FLG #--) TRUE #-->
			<li class="(!--# variable id #--)"><a href="(!--# mod viewMode getSelectedType #--)-(!--# variable id #--)"><!--# variable name #--> (<!--# variable row #-->)</a></li>
			<!--# else #-->
			<li class="(!--# variable id #--)"><a href="index.php?app_controller=search&type=(!--# mod viewMode getSelectedType #--)&run=true&category=(!--# variable id #--)&category_PAL[]=match+or"><!--# variable name #--> (<!--# variable row #-->)</a></li>
			<!--# endif #-->
<!--# readend #-->

<!--職種から探す表示終了デザイン-->
<!--# readhead foot #--> 
		</ul>
	</div><!--body-->
</div><!--top_search--> 
<!--# readend #--> 
