<!--# include head #-->
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>求人サービス - 中途採用</h2>
			<div class="main">
				<div class="error_message">
                    <p>
                        求人サービスをご利用頂くには、企業情報の追加入力が必要となります。<br />
                        <br />
                        企業情報の追加情報の登録は下記のリンクから処理を行って頂けます。<br />
                    </p>
                    <ul>
                        <li><a href="index.php?app_controller=edit&type=cUser">企業情報の追加登録</a></li>
                        <li><a href="./">トップページ</a></li>
                    </ul>
				</div><!--error_message END-->
			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->
