<!--# readhead head #-->
<!--# readend #-->

<!--# readhead is_error #-->
<div class="commonMessage commonMessage--error">
    <p>入力内容を見直してください。</p>
</div>
<!--# readend #-->

<!--# readhead duplication_id #-->
<span class="validateMessage">二重登録の可能性があります。</span>
<!--# readend #-->

<!--# readhead smtp_flg #-->
<span class="validateMessage">SMTPでのメール送信が選択されていません。</span>
<!--# readend #-->
<!--# readhead host #-->
<span class="validateMessage">メールホスト名を入力してください。</span>
<!--# readend #-->
<!--# readhead username #-->
<span class="validateMessage">メールユーザー名を入力してください。</span>
<!--# readend #-->
<!--# readhead password #-->
<span class="validateMessage">メールパスワードを入力してください。</span>
<!--# readend #-->
<!--# readhead port #-->
<span class="validateMessage">送信ポート番号を入力してください。</span>
<!--# readend #-->
<!--# readhead port_REGEX #-->
<span class="validateMessage">送信ポート番号が不正です、数値形式で入力してください。</span>
<!--# readend #-->
<!--# readhead secure #-->
<span class="validateMessage">SMTPプロトコルを入力してください。</span>
<!--# readend #-->
<!--# readhead html_flg #-->
<span class="validateMessage">HTMLメールの使用が選択されていません。</span>
<!--# readend #-->

<!--# readhead test_mail_MAIL #-->
<span class="validateMessage">テストメールアドレスが不正です、「～@～」の形式で使用出来る文字列のみで記入してください。</span>
<!--# readend #-->
<!--# readhead test_mail_error #-->
<span class="validateMessage">テストメール送信に失敗しました。<br />設定情報を、もう一度確認してください。</span>
<!--# readend #-->

<!--# readhead foot #-->
<!--# readend #-->