<!--# include head #-->
<style type="text/css">
#complexity{
	display:inline-block;
	width: 200px;
	padding: 2px;
	color: #333;
	font-size: 11px;
	text-align: center;
}
.default{background-color: #CCC;}
.weak{background-color: #FF5353;}
.strong{background-color: #FAD054;}
.stronger{background-color: #93C9F4; }
.strongest{background-color: #B6FF6C;}
</style>
<script type="text/javascript">
function newPasswordSend(){
	var token = $("input[name=token]").val();
	var pass = $("#inputPassword").val();
	var pass_confirm = $("input[name=pass_confirm]").val();
	if(!pass || !pass_confirm){
		$(".error").text("新しいパスワードを入力して下さい。");
		return;
	}else if(pass!=pass_confirm){
		$(".error").text("新しいパスワード（確認用）と入力内容が一致していません。");
		return;
	}else if(pass.length<6){
		$(".error").text("パスワードは6文字以上にしてください。");
		return;
	}else{
		$(".form_table input").attr("disabled","disabled");
		$("input[name=Submit]").val("パスワードの再発行手続きを行っています...");
		$(".error").text("");
		
		
		jQuery.ajax({
			url: 'api.php',
			type: 'POST',
			dataType: "text",
			data: "c=resetterApi&m=newPasswordRegist&pass=" + pass + "&token=" + token
		})
		.done(function(res){
			alert("パスワードの再設定が完了しました。\nログインページへ移動します。");
			location.href="./login.php";
		})
		.fail(function(xml, status, e){});
	}
}
</script>
<script type="text/javascript" src="./common/js/mocha.js"></script>
<div id="contents">
	<div class="contents_inline c1 clearfix">

		<div class="contents_m">
			<h2>新しいパスワードの設定</h2>
			<div class="main">
				<div class="error"></div>
				<div class="form_table">
				

					<!--# ifbegin ! val= (!--# view resetter verifyToken (!--# get token #--) #--) TRUE #-->
					<div class="message">
						<p class="description">
							パスワード再発行依頼の有効期限が切れました。<br />
							下記のリンクから再依頼を行ってください。
						</p>
						<ul>
							<li><a href="./index.php?app_controller=other&key=resetter">パスワード再発行依頼</a></li>
						</ul>
					</div>
					<!--# else #-->
				
					<!--# form hidden token (!--# get token #--) #-->
					<table>
						<caption>パスワード情報</caption>

						<tr>
							<th style="width:220px;">新しいパスワード</th>
							<td class="">
							<!--# form password pass 30 50 id="inputPassword" #-->
							<span id="complexity" class="default">強度インジケータ</span><br />
							<span class="hint">※ パスワードは6文字以上にしてください。<br />より強化するために大文字と小文字のアルファベット、数字などを組み合わせて使ってください。</span>
							</td>
						</tr>
						<tr>
							<th>新しいパスワード（確認用）</th>
							<td class="">
							<!--# form password pass_confirm 30 50 #-->
							<span class="hint">※上記と同じものを確認のために入力して下さい。</span><br />
							</td>
						</tr>
					</table>
					<p class="button"><input type="submit" name="Submit" value="確認する" class="checkButton" onclick="newPasswordSend();" /></p>
					
					<!--# endif #-->
					
				</div><!--form_table END-->

			</div><!--main END-->
		</div><!--contents_m END-->

	</div><!--contents_inline END-->
</div><!--contents END-->

<!--# include foot #-->