<?php include $this->templatePath . 'common/head.html' ?>
<?php include $this->templatePath . 'common/headMenu.html' ?>

<form method="post">
	<input type="hidden" name="app_controller" value="passwordChange" />
	<input type="hidden" name="method" value="doChangePassword" />

	<table>
		<caption>◆管理パスワード変更<caption>

		<tr>
			<th>現在のパスワード(確認)</th>
			<td><input type="password" name="currentPassword" value="" size="20" /></td>
			<th>新しいパスワード</th>
			<td><input type="password" name="newPassword" value="" size="20" /></td>
		</tr>

		<tr>
			<td colspan="4"><input type="submit" value="送信" /></td>
		</tr>

	</table>

</form>

<?php
	$message[ 'currentPassword' ]         = '<div class="error">現在のパスワードを入力してください。</div>';
	$message[ 'currentPassword_confirm' ] = '<div class="error">パスワードが一致しません。</div>';
	$message[ 'newPassword' ]             = '<div class="error">新しいパスワードを入力してください。</div>';

	$iModel->drawErrorMessage( $message );
?>

<?php include $this->templatePath . 'common/footMenu.html' ?>
<?php include $this->templatePath . 'common/foot.html' ?>
